body {
    font-size: 14px;
    color: #DD10FF;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 190px; 
    margin-right: 190px;
    margin-top: 10px;
    border-color:white;
    border-style:solid;
    border-radius: 7px;
}
.festivalone {
    background-image: url(/Img/20190413_Rebirth__MNO-Photo_0102_-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section { display: inline-block;
    border-style: dashed;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 0px solid white;
    background-color: black;
    color: black;
    text-decoration: none;
    padding: 15px 10px;
    position: relative;
    top: 100px;
    transition: top 300ms ease;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 0px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-right: 200px
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #myUL li a {
        border: 1px solid #ddd; /* Add a border to all links */
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6; /* Grey background color */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove default text underline */
        font-size: 18px; /* Increase the font-size */
        color: black; /* Add a black text color */
        display: block; /* Make it into a block element to fill the whole list */
    }

        #myUL li a:hover:not(.header) {
            background-color: #eee; /* Add a hover effect to all links, except for headers */
        }

.menubutton {
    width: 200px;
    margin: 2px;
    height: 50px;
    color: #DD10FF;
    background-color: #010CFF;
    font-size: 20pt;
    font-family: Verdana;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    border-top: 2px solid black;
    border-left: 2px solid #D8E5B7;
    border-bottom: 2px solid #687D22;
    border-right: 2px solid #687D22;
}
