<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/favicon.jpg" type="image/x-icon" />
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>


        Festyland
    
    <div>
        <section class="festivalone">
            <a href="link.htm" class="menubutton">Home</a>
            <a href="link.htm" class="menubutton">Agenda</a>
            <a href="link.htm" class="menubutton">Galerij</a>
            <a href="link.htm" class="menubutton">Contact</a>
            <br>
            </br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek naar festivals..">

            <ul id="myUL">
                <li><a href="#">Whoohah</a></li>
                <li><a href="#">MOMO</a></li>

                <li><a href="#">Paaspop</a></li>
                <li><a href="#">DGTL Festival</a></li>

                <li><a href="#">Central Park Festival</a></li>
                <li><a href="#">Pinkpop</a></li>
                <li><a href="#">Mystery Land </a></li>
            </ul>

        </section>
    </div>
    @RenderBody()
</body>
</html>
