<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="https://lh3.googleusercontent.com/S0XdSkRNncjo7Au8kGzPvVanaFIok7IHEk7XJlVIIL--GQR8wkuA-oeejel4fKRZa5oj5XZbfST_o0PBJ41zbPur_OjPJgeJycQebzSrZ-bGwh8JvlV2q8whLNgdhdZA3CRZ85ty" type="image/gif" sizes="16x16">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="https://lh3.googleusercontent.com/S0XdSkRNncjo7Au8kGzPvVanaFIok7IHEk7XJlVIIL--GQR8wkuA-oeejel4fKRZa5oj5XZbfST_o0PBJ41zbPur_OjPJgeJycQebzSrZ-bGwh8JvlV2q8whLNgdhdZA3CRZ85ty" class:"center">
    <div>
        <section class="festivalone">
            <a href="link.htm" class="menubutton">Home</a>
            <a href="link.htm" class="menubutton">Agenda</a>
            <a href="link.htm" class="menubutton">Galerij</a>
            <a href="http://localhost:56349/contact" class="menubutton">Contact</a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek naar festivals..">
            <br />
            <br />
            <br />
            <br />
            <br />
        </section>
    </div>

    @RenderBody()
</body>
</html>
