<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="https://lh4.googleusercontent.com/guCgPV5tfHOMHqoSVRy2x8hydNH9Afen4JywZ16xm671bgJVuxBrR7eLq-S5KkGOeTYleXBPl4Gpf20F6zmmOB4GsVnXslmLSymIEzZkt79hYScXAtJ62llcoXj4xAjwIJ8nZP46" type="image/gif" sizes="16x16">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <img src="https://lh3.googleusercontent.com/S0XdSkRNncjo7Au8kGzPvVanaFIok7IHEk7XJlVIIL--GQR8wkuA-oeejel4fKRZa5oj5XZbfST_o0PBJ41zbPur_OjPJgeJycQebzSrZ-bGwh8JvlV2q8whLNgdhdZA3CRZ85ty" WIDTH="140" HEIGHT="100" />


    <div>
        <section class="festivalone">
            <a href="link.htm" class="menubutton">Home</a>
            <a href="link.htm" class="menubutton">Agenda</a>
            <a href="link.htm" class="menubutton">Galerij</a>
            <a href="link.htm" class="menubutton">Contact</a>
            <br>
            
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek naar festivals..">

            <ul id="myUL">
                <li><a href="#">Whoohah</a></li>
                <li><a href="#">MOMO</a></li>

                <li><a href="#">Paaspop</a></li>
                <li><a href="#">DGTL Festival</a></li>

                <li><a href="#">Central Park Festival</a></li>
                <li><a href="#">Pinkpop</a></li>
                <li><a href="#">Mystery Land </a></li>
            </ul>

        </section>
    </div>
    @RenderBody()
</body>
</html>
